In [ ]:
Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

The scores should be ranked from the highest to the lowest.
If there is a tie between two scores, both should have the same ranking.
After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.
Return the result table ordered by score in descending order.

The result format is in the following example.

 

Example 1:

Input: 
Scores table:
+----+-------+
| id | score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
Output: 
+-------+------+
| score | rank |
+-------+------+
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |
+-------+------+

In [2]:
import pandas as pd
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [4]:
scores

   id  score
0   1    3.5
1   2   3.65
2   3    4.0
3   4   3.85
4   5    4.0
5   6   3.65

In [40]:
scores["rank"] = scores.score.rank(method ="dense", ascending = False).astype(int)
res = scores.sort_values(by = "rank", ascending = True)[["score","rank"]]
res

   score  rank
2    4.0     1
4    4.0     1
3   3.85     2
1   3.65     3
5   3.65     3
0    3.5     4

In [39]:
scores["rank"] = scores.score.rank(method = "dense", ascending = False)
scores = scores.sort_values(by = "rank",ascending = True).astype({"rank":"int"})
scores[["score","rank"]]

   score  rank
2    4.0     1
4    4.0     1
3   3.85     2
1   3.65     3
5   3.65     3
0    3.5     4